pip==24.0
cohere==5.6.1
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-groq==0.1.6
langchain-text-splitters==0.2.2
langsmith==0.1.93
pydantic==2.8.2
pydantic_core==2.20.1
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
sentence-transformers==3.0.1
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.3.1
transformers==4.42.4
weaviate-client==4.6.5
chroma-hnswlib==0.7.6
chromadb==0.5.5
langchain-chroma==0.1.2
langchain-google-genai==1.0.8